<h1> All of the Ijacek's members </h1>

    <ul class="people_list">
      <% @people.each do |person| %>
      <div class="all_people">
        <li><%= link_to person.username, person %> </li>
        </div>
      <% end %>
    </ul>

  <%= image_tag 'pooh4.jpg', class: "people_img" %>
