<div class="show_page">
  <h1 class="username_title"><%= @person.username %> </h1>

  <p class="person_info">
    <%= @person.info %>
  </p>

  <p>
    <%= link_to "Edit profile", edit_person_path(@person) %>
  </p>
</div>


