$navbarLinkColor: #fff;
$navbarBackground: #5C401F;
$navbarBackgroundHighlight: #7A6042;

@import "font-awesome";
@import "bootstrap";
@import "entries";

// general styles//
body {
  font-family: Georgia;
  font-size: 14px;
  color: dimgrey;
}

.container {
  width: 1140px;
}

h1 {
  font-size: 22px;
  text-align: center;
  clear: both;
}

a {
  text-decoration: none;
  color: #5C401F;
}

a:hover {
  text-decoration: none;
  color: #A1949A;
}

img.header {
  position: fixed;
  left: 46.5%;
  top: 0;
  display: inline;
  width: 150px;

}

.login_notice {
  font-size: 14px;
  color: #EDD9E3;
  background-color: #A1949A;
  padding: 5px;
  border-radius: 4px;
  margin-top: 4px;
}

.center {
  width: 500px;
  margin: auto;
}


 // menu style//

ul.menu {
  float: right;
  margin-right: 40px;

  li {
    list-style: none;
    float: left;
    margin: 10px;
  }
}

i {
  color: #5C401F;

  &.big {
    font-size: 28px;
    color: #EDD9E3;
  }
}

// page specific styles //

// Index //

.new_entry input {
  width: 150px;
  margin: auto;
}

img.thumb {
  width: 80px;
  height: 60px;
}

// Log in //

.username_title {
  font-size: 48px;
  color: #5C401F;
  margin: 10px;
  padding: 5px;
}

.person_info {
  font-size: 18px;
  background-color: #5C401F;
  color: #EDD9E3;
  border-radius: 10px;
  padding: 10px;
  width: 480px;
  margin: 10px;
}

.quotes {
  color: #A1949A;
  font-size: 20px;
}

.right_quote {
  position: relative;
  left: 500px;
}

.show_image {
  width: 300px;
}

.image_div {
  margin: 50px;
  display: block;
  margin: auto;
  width: 310px;
}

// Edit profile //

.edit_page {
  width: 500px;
  margin: auto;
}

.edit_page textarea {
  width: 300px;
}

.image_table {
  width: 650px;
  margin: auto;
}

img.profile_img {
  width: 200px;
  height: 150px;
  float: left;
}
// Index all of people //

.all_people {
  width: 100px;
  margin: 10px 10px 10px 200px;
  padding: 5px;
  background-color: #EDD9E3;
  border-radius: 10px;
}

ul.people_list {
  margin: 5px;
  padding: 5px;

  li {
    list-style: none;
    float: none;
    text-align: center;
    font-size: 18px;
  }
}

img.people_img {
  width: 300px;
  float: right;
  margin: 0 150px 0 0;
}
