$navbarLinkColor: #fff;
$navbarBackground: #5C401F;
$navbarBackgroundHighlight: #7A6042;
$gridColumnWidth: 65px;
$dropdownBackground: #5C401F;
$dropdownLinkColor: #EDD9E3;
$dropdownLinkBackgroundHover: #E7C794;
$dropdownLinkColorHover: #5C401F;

@import "font-awesome";
@import "bootstrap";
@import "entries";
@import "people";

body {
font-family: georgia;
color: #5C401F;
font-size: 14px;
padding-top: 50px;
}

.box {
  margin-left: 15px;
}

.title {
  font-size: 24px;
}


.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #5C401F;
  background: #E7C794;
}

.navbar .pull-right > li > .dropdown-menu:before {
  display: none;
}

.navbar .pull-right > li > .dropdown-menu:after {
  display: none;
}

h1,h2,h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #BD362F;
}

a:hover {
  text-decoration: none;
  color: #5C401F;
}

img.header {
  position: fixed;
  left: 46.5%;
  top: 0;
  display: inline;
  width: 150px;

}

.flash_mes {
  color: #E67E22;
  text-align: right;

}

.center {
  width: 500px;
  margin: auto;
}

.margin-top {
  margin-top: 30px;
}

img.thumb {
  width: 80px;
  height: 60px;
}

 // menu style//


// page specific styles //

// Index //

// Log in //

.username_title {
  font-size: 48px;
  color: #5C401F;
  margin: 10px;
  padding: 5px;
}



// Edit profile //

.edit_page {
  width: 500px;
  margin: auto;
}

.edit_page textarea {
  width: 300px;
}

.image_table {
  width: 650px;
  margin: auto;
}

img.profile_img {
  width: 200px;
  height: 150px;
  float: left;
}
// Index all of people //




