$navbarLinkColor: #fff;
$navbarBackground: #5C401F;
$navbarBackgroundHighlight: #7A6042;
$gridColumnWidth: 65px;
$dropdownBackground: #5C401F;
$dropdownLinkColor: #EDD9E3;
$dropdownLinkBackgroundHover: #E7C794;
$dropdownLinkColorHover: #5C401F;

@import "font-awesome";
@import "bootstrap";
@import "entries";
@import "people";
@import "activities";

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #5C401F;
  background: #E7C794;
}

.navbar .pull-right > li > .dropdown-menu:before {
  display: none;
}

.navbar .pull-right > li > .dropdown-menu:after {
  display: none;
}



body {
font-family: Avenir, sans-serif;
color: #5C401F;
font-size: 14px;
padding-top: 50px;
padding-bottom: 50px;
}

.box {
  margin-left: 15px;
}

.title {
  font-size: 24px;
}

h1,h2,h3 {
  text-align: center;
  font-family: "Avenir next condensed", serif;
}

a {
  text-decoration: none;
  color: #BD362F;
}

a:hover {
  text-decoration: none;
  color: #5C401F;
}


.flash_mes {
  color: #E67E22;
  text-align: right;

}

.center {
  width: 500px;
  margin: auto;
}

.margin-top {
  margin-top: 30px;
}

img.thumb {
  width: 80px;
  height: 60px;
}

img.header {
  position: fixed;
  left: 46.5%;
  top: 0;
  display: inline;
  width: 150px;

}

.sample {
background: #fff4dd;
color: #5C401F;
padding: 10px;
text-align: auto;
font-size: 18px;
border-radius: 5px;
margin-top: 10px;
margin-bottom: 10px;
}

.autor {
  font-style: italic;
  text-align: right;
}

