.entry {
  margin: 10px 0;
  .meta {
    height: 55px;
  }

  .pull-right {
    margin-top: 40px;
  }

  .text {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #5C401F;
    background: #E7C794;

  }

  .big {
    font-size: 20px;
  }
}


.all_entries {
  display: none;
}

