.entry {
  margin: 20px 0;

  .meta {
    height: 60px;
  }

  .pull-right {
    margin-top: 40px;
  }

  .text {
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px #1B0B1D;
    padding: 10px;
    background-color: #EDD9E3;
  }
}
