.container {
  width: 1040px;
}

.demo-row {
margin-bottom: 0px;
}

.navbar .nav > li > a:hover {
color: #E67E22;
}

.navbar .nav ul li {
  background-color: #6E5334;
}

.navbar .nav ul {
  background-color: #6E5334;
}

.navbar .nav {
  background-color: #6E5334;
}

.navbar-inverse .navbar-inner {
  background-color: #6E5334;
}

.btn.btn-info {
background-color: #E67E22;
}

.btn.btn-info:hover {
background-color: #F39C12;
}

.dropdown-menu > li > a {
  background-color: 3498DB;
}

.navbar .nav ul a:hover {
background-color:  #E67E22;
}

.dropdown-menu > li > a:hover {
background-image: none;
}

.navbar .nav > li > a {
padding: 9px 10px 11px;
}