.orange {
  background: #F89406;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.red {
background: #BD362F;
color: #fff;
padding: 10px;
text-align: auto;
font-size: 18px;
border-radius: 5px;
}

.divide {
  clear: both;
}

.show_image {
  width: 300px;
  margin: auto;
  display: block;
}